@import url(https://fonts.googleapis.com/css?family=Poppins)

body
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: Poppins


.container
  overflow: hidden
  width: 100%
  background-color: #ddd
  margin-bottom: 200px
  height: 2000px

.header
  background:
    image: url('img/header.jpg')
    position: center center
    size: cover
    repeat: no-repeat
  position: fixed
  height: 400px
  width: 100%
  display: flex
  align-items: center
  justify-content: center

  .headline
    display: block
    color: white

    .main_head
      font-size: 4em

    .sub_head
      margin-top: -2em

.menu
	position: absolute
	right: 0
	top: 0
	margin-right: 20px
	margin-top: 20px
