body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  overflow: hidden;
  width: 100%;
  background-color: #ddd;
  margin-bottom: 200px;
  height: 2000px;
}

.header {
  background-image: url("img/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .headline {
  display: block;
  color: white;
}

.header .headline .main_head {
  font-size: 4em;
}

.header .headline .sub_head {
  margin-top: -2em;
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 20px;
  margin-top: 20px;
}
