@import url(https://fonts.googleapis.com/css?family=Poppins);
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.container {
  overflow: hidden;
  width: 100%;
  background-color: #ddd;
  margin-bottom: 200px;
  height: 2000px;
}

.header {
  background-image: url("img/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 999;
}

.header .headline {
  display: block;
  color: #fff;
}

.header .headline .main_head {
  font-size: 4em;
}

.header .headline .sub_head {
  margin-top: -2em;
  margin-left: 2em;
}

.header .menu-bars {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 2.5em;
  color: #fff;
}

.content {
  position: absolute;
  top: 450px;
}

.content .animal {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.content .animal:hover img {
  transform: scale(1.2);
}

.content .animal img {
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.content .animal figcaption {
  position: absolute;
  top: 80%;
  display: block;
  background-color: dimgrey;
  width: 100%;
  transform: rotate(-10deg);
  color: white;
  padding: 0 5px;
}

.content .male::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30%;
  width: 30%;
  z-index: 10;
  background-image: url("img/Mars_symbol.svg");
  background-size: 100%;
}
